<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApiWars</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="nav">
        <div class="logo">
            <h1>Star Wars</h1>
        </div>

            <ul class="meniu">
                <li><a href="{{ url_for('index')}}">Home</a> </li>
                <li><a href="{{ url_for('login')}}">Login</a> </li>
                <li><a href="{{ url_for('register')}}"> Register</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
       
        
                    <form action="/registration" class="registration" method="POST">
                         <div class="form-inner">
                             <div class="registration-form">
                                 <h1>Register</h1>
                                 <br>
                                <p>Please fill in this form to create an account.</p>
                                <br>
        
                                <p><label for="email"><b>Email</b></label></p>
                                <p><input type="text" placeholder="Enter Email" name="email" id="email" required></p>
        
                               <p> <label for="psw"><b>Password</b></label></p>
                               <p> <input type="password" placeholder="Enter Password" name="password" id="psw" required></p>
        
                                 <p><label for="psw-repeat"><b>Repeat Password</b></label></p>
                               <p> <input type="password" placeholder="Repeat Password" name="password-repeat" id="psw-repeat" required></p>
                            
                             </div>
        
        
        
                                <button type="submit" class="registerbtn">Register</button></p>
        
        
                              <div class="container signin">
                                <p>Already have an account? <a href="#">Sign in</a></p>
                              </div>
                         </div>
        
        
           </form>
            </div>
    <script src="/static/script.js"></script>
</body>
</html>